
.page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../../assets/images/Portfolio_Background.png");
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #ffd700;
    opacity: .6;
    position: absolute;
    
}

.container {
    width: 60.2%;
    height: auto;
//    overflow-y:scroll;
    max-height: 100%;
    justify-content: left;
    will-change: contents;
    min-height: 566px;
    position: absolute;
    opacity: 1;
    margin: 8% 11% 0% 19.8%;
    z-index: 2;
    background-color: #b3b3b3;
    background-attachment: fixed;
    background-repeat: no-repeat;
    border: 1px solid ;
    border-color: white black black white;
}

@keyframes typing {
    from {width: 0}
    to { width: 100%}
}

//@keyframes blink-caret {
 //   0% {border-right-color: transparent}
  //  50% {border-right-color: black}
   // 100% {border-right-color: transparent}
//}