
.page {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../../assets/images/Portfolio_Background.png");
    background-attachment: absolute;
    background-position-x: center;
    background-repeat: no-repeat;
    margin: -60px;
    background-size: cover;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #ffd700;
    opacity: .6;
    position: absolute;
    
}

.container {
    width: 90%;
    max-height: 100%;
    justify-content: left;
//    display: grid;
    will-change: contents;
    height: auto;
    min-height: 566px;
    position: absolute;
    opacity: 1;
    top:5%;
    margin: 0 auto;
    z-index: 1;
//    transform-style: preserve-3d;
//    animation: 
 //       typing 2s steps(33),
  //      blink-caret .4s step-end infinite alternate;
}

@keyframes typing {
    from {width: 0}
    to { width: 100%}
}

//@keyframes blink-caret {
 //   0% {border-right-color: transparent}
  //  50% {border-right-color: black}
   // 100% {border-right-color: transparent}
//}