.mindtreasure-layout {
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("../../assets/images/Portfolio_Background.png");
    background-attachment: absolute;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0px;
    background-size: cover;
}

.backgroundclr-mindtreasure {
    background-color: #b3b3b3;
    background-attachment: absolute;
    overflow-y:scroll;
    overflow-x: hidden;
    max-width: auto;
    max-height: 150px;
    min-height: 150px;
    padding: 0% 0% 27.5% 0%;
    margin: 8.6% 1.8% 0% 3.3%;
    border: 1px solid;
    border-color: white black black white;
    z-index: 4;
}

.button {
    display: inline-block;
    position: absolute;
    top: 87%;
}

.backbutton {
    left: 80%;
    background-color: transparent;
}

.backbutton:hover {
    color: linear-gradient(rgba(207, 55, 55, 0.4) 0 0);
}

.nextbutton {
    left: 86.4%;
}

.casestudyh {
    margin-bottom: 0%;
    text-decoration: underline;
}

.mindtreasurebanner {
    width: 90%;
    height: auto;
    padding: 5px 50px 50px 50px;
}

.text-zone-h2 {
    margin: 0% 0% 0% 4.5%;
    padding: 0% 5% 2% 0%;
    font-family: 'tech';
    font-size: 30px;
    font-weight: 400;
    color: black;
}

.text-zone-p {
    margin: 0% 0% 0% 4.5%;
    padding: 0% 5% 2% 0%;
    font-family: 'tech';
    font-size: 30px;
    font-weight: 400;
    color: black;
    font-size: 20px;
}

.text-zone-h1 {
    margin-top: 2%;
}

.persona {
    padding: 0px 4.5% 20px 4.5%;
    display: flex;
}

.personaimg {
    width: 48%;
    height: auto;
}

.alya-persona {
    padding-right: 1%;
}

.linda-persona {
    padding-left: 1%;
}

.information-architecture {
    padding: 0px 10% 20px 3%;
    display: flex;
    width: 100%;
    height: auto;
}

.oldnavbar {
    width:48%;
    height: auto;
}

.newnavbar {
    width:48%;
    height: auto;
}

.mindtreasure-info-architecture-img {
    width:90%;
    height: auto;
    padding-top: 2%;
    padding-left: 5%;
}

.lofi {
    padding: 0px 10% 20px 3%;
    display: flex;
    width: 100%;
    //height: auto;
}

.lofihomepageimg {
    width: 60%;
    height: auto;
    opacity: 0;
}

.contactpageimg {
    width: 68%;
    height: auto;
}